server:
  port: 8083

spring:
  datasource:
    url: :jdbc:postgresql://localhost:5432/transactionsdb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

management:
  endpoints:
    web:
      exposure:
        include: health,info

account-service:
  url: http://localhost:8080/api
