apiVersion: v1
kind: Service
metadata:
  name: account-service
  namespace: youth-cloud-banking
spec:
  type: ClusterIP
  selector:
    app: account-service
  ports:
    - port: 8081
      targetPort: 8081