apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-server
  namespace: youth-cloud-banking
  labels:
    app: eureka-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka-server
  template:
    metadata:
      labels:
        app: eureka-server
    spec:
      containers:
        - name: eureka-server
          image: mazulu/eureka-server:latest   # change if needed
          ports:
            - containerPort: 8761
          env:
            - name: SERVER_PORT
              value: "8761"