apiVersion: v1
kind: Service
metadata:
  name: eureka-server
  namespace: youth-cloud-banking
spec:
  type: NodePort
  selector:
    app: eureka-server
  ports:
    - port: 8761
      targetPort: 8761
      nodePort: 30062