apiVersion: v1
kind: Service
metadata:
  name: transaction-service
  namespace: youth-cloud-banking
spec:
  type: ClusterIP
  selector:
    app: transaction-service
  ports:
    - port: 8082
      targetPort: 8082