name: Youth Cloud Banking CI/CD

on:
  push:
    branches: [ main ]

jobs:

  # ------------------------
  # 1️⃣ BUILD & TEST STAGE
  # ------------------------
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Build Account Service
        run: |
          cd account_service
          mvn clean verify -DskipTests

      - name: Build Transaction Service
        run: |
          cd transaction_service
          mvn clean verify -DskipTests

      - name: Build API Gateway
        run: |
          cd api_gateway
          mvn clean verify -DskipTests


  # ------------------------
  # 2️⃣ DOCKER BUILD & PUSH
  # ------------------------
  docker:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: nathiiiworld7
          password: Nkosinathi1$

      # Account Service
      - name: Build & Push Account Service
        run: |
          cd account_service
          docker build -t nathiiiworld7/account-service:latest .
          docker push nathiiiworld7/account-service:latest

      # Transaction Service
      - name: Build & Push Transaction Service
        run: |
          cd transaction_service
          docker build -t nathiiiworld7/transaction-service:latest .
          docker push nathiiiworld7/transaction-service:latest

