name: Spring Boot CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - run: mvn clean install -DskipTests

  docker:
    needs: build-test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          username: nathiiiworld7
          password: Nkosinathi1$

      - run: |
          docker build -t nathiiiworld7/account-service:latest 
          docker push nathiiiworld7/account-service:latest
          
      - run: |
          docker build -t nathiiiworld7/transaction-service:latest 
          docker push nathiiiworld7/transaction-service:latest